body{
    background:#6a0dad;
    color:white;
    font-family:Arial;
    text-align:center;
}

.container{
    width:90%;
    max-width:500px;
    margin:auto;
}

.step{
    display:none;
    background:white;
    color:black;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
}

.active{
    display:block;
}

input,select{
    width:100%;
    padding:12px;
    margin:10px 0;
}

button{
    background:#6a0dad;
    color:white;
    border:none;
    padding:15px;
    width:100%;
    border-radius:8px;
    cursor:pointer;
}
